.item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 30px;
  width: 200px;
  padding: 5px;
  background-color: rgb(231, 221, 221);
  border: 2px solid burlywood;
  border-radius: 14px;
}

.name {
  font-size: 24px;
  font-weight: bold;
}

.online {
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 50%;

  background-color: green;
}

.offline {
  composes: online;
  background-color: red;
}
